[submodule "submodules/auModA"]
	path = submodules/auModA
	url = https://github.com/MichaelPetrinolis/auModA.git
[submodule "submodules/auModB"]
	path = submodules/auModB
	url = https://github.com/MichaelPetrinolis/auModB.git
